{% extends 'base.html'%}
{% block styles%}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}
{% block content %}
<div class="container-fluid m-0 pl-2">
    <div class="row">
        <div class="col-md-3">
            <div class="horizontal-border mt-3">
                <div class="intro">
                    IN A NUTSHELL
                </div>
            </div>
                <div class="content">
                    {% for category in category %}
                    <li class="category-info">
                        <span class="category-headline"><span>{{ category.publishedAt}} </span><a href="{{category.url}}" class="text-dark">{{ category.title }}</a> </span>
                        <a href="{{category.url}}" class="text-primary">Read more... </a>
                    </li>
                    {% endfor %}
                </div>
        </div>
        <div class="col-md-6">
            <div class="horizontal-border mt-3 mb-2">
                <div class="intro">
                    LATEST NEWS
                </div>
            </div>
            {% for category in category %}
            <div class="headline-container">
                <div>
                    <div class="image-holder">
                        <a href="{{category.url}}"> <img src="{{category.image}}" alt=""></a>
                    </div>
                    <a href="{{category.url}}" class="text-primary text-sm">{{category.title}}</a>
                    <p class="description">{{category.description}}</p>
                    <p><strong>updated {{category.publishedAt}}</strong></p>
                </div>
            </div><br>
            {% endfor %}
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-2">
            <div class="source-container">
                <div class="horizontal-border mt-3">
                    <div class="intro">
                        SOURCES
                    </div>
                </div>
                {% for source in sources %}
                <li class="source-list text-primary text-muted">
                    <a href="/article/{{source.id}}" class="text-danger p-2 source-name">{{ source.name }}</a>
                </li>
                {% endfor %}
            </div>
        </div>

    </div>
</div>
{% endblock %}